@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

body{ 


font-family: 'Montaga', serif; 
}

header{
    background-color: rgba(202, 195, 187, 0.568);
    color: black;
}
.heading{
    color: rgb(44, 66, 23);
}
.blog-section{
    background-color: rgba(201, 196, 191, 0.842);
    color: black;
}
.secondary{
    background-color: aqua;
}
a{
    text-decoration: none;
}